.Navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 4rem;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.Navbar ul{
    display: flex;
}
.Navbar ul li a{
    font-size: 1.5rem;
    color: black;
    padding-right: 1.5rem;
    cursor: pointer;
}
